<!-- HERENCIA DE BASE -->
{% extends "core/base.html" %}

<!-- CARGA LOS ESTATICOS -->
{% load static %}

<!-- TITULO DINAMICO -->
{% block titulo %} ABOUT {% endblock titulo %}

<!-- ARCHIVOS ESTATICOS EXTRA -->
{% block extra_css %}{% endblock extra_css %}

<!-- CONTENIDO PRINCIPAL -->
{% block contenido_principal %}
<div class="row d-flex">
    <div class="col-4 offset-md-auto">
        <img class="img-fluid img-thumbnail img-circle img-perfil " src="{% static 'core/img/foto-perfil.png' %}" alt="">
    </div>
    <div class="col-6">
        <h4>Apasionado técnico informático con sólida experiencia en la resolución de problemas en entornos de TI. Mi trayectoria se ha centrado en ofrecer soluciones efectivas en hardware y software para optimizar el rendimiento y la eficiencia. Al mismo tiempo, mi dedicación como estudiante de programación me impulsa a explorar y dominar lenguajes y conceptos para contribuir al desarrollo de soluciones tecnológicas innovadoras. Mi enfoque versátil y continuo en la informática abarca desde la resolución de problemas técnicos hasta el estudio profundo de la lógica y el desarrollo de aplicaciones, buscando fusionar conocimientos para impulsar la excelencia en el campo de la tecnología.</h4>
    </div>
</div> 

<div class="row d-flex pt-5">
    <div class="col-12">
        <h2 class="fw-bold">Formación Académica</h2>
        <!-- CONTENIDO CURSOS -->
        
            {% for curso in cursos %}
                <h3>{{ curso.institucion }}</h3>
                <p><strong>Título obtenido:</strong> {{ curso.titulo }}</p>
                <p><strong>Descripción:</strong> {{ curso.descipcion }}</p>
                <hr>
            {% empty %}

                <h3>Aun no se cargaron las formaciones</h3>

                <hr>
            {% endfor %}
        <h2 class="fw-bold">Conocimientos</h2>
            
        <section class="skills" id="skills">
            <div class="skills__container" id="skills">

                {% for habilidad in habilidades %}
                    <div class="card__skills">
                        <div class="skill__thumbnail">
                            <img class="skill__logo" src="{{ habilidad.imagen.url }}" alt="{{ habilidad.titulo }}">
                        </div>
                        <div class="skill__texto">
                            <p class="skill__titulo">{{ habilidad.titulo }}</p>
                        </div>
                    </div>
                    {% empty %}
                        <h3>Aun no se cargaron las habilidades</h3>
                        <hr>
                {% endfor %}
            </div>
        </section>
    </section>
    </div>
</div>

{% endblock contenido_principal %}

<!-- ARCHIVOS JS EXTRA -->
{% block extra_js %}{% endblock extra_js %}